/ {
	mesh: mesh {
		elements {
			element_1 {
				location = <1>;
				compatible = "bt-mesh-element";
				models {
					model-cfg-srv {
						vname = "cfg_srv";
						cmodel = "bt-mesh-model-cfg-srv";
						compatible = "bt-mesh-model";
					};
					model-health-srv {
						vname = "health_srv";
						cmodel = "bt-mesh-model-health-srv";
						vargs = "&health_pub";
						compatible = "bt-mesh-model";
					};
					model-onoff-cli-0 {
						vname = "onoff_cli";
						cmodel = "bt-mesh-model-onoff-cli";
						compatible = "bt-mesh-model";
					};
				};
			};
			element_2 {
				location = <2>;
				compatible = "bt-mesh-element";
				models {
					model-ponoff-srv-0 {
						vname = "ponoff_srv";
						cmodel = "bt-mesh-model-ponoff-srv";
						compatible = "bt-mesh-model";
					};
				};
			};
		};
	};
};
