/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
	zephyr,user {
		coex-pta-grant-gpios = <&gpio9 0 GPIO_ACTIVE_HIGH>;
	};

	dummy_node {
		status = "okay";
		coex-pta-grant-gpios = <&gpio9 0 GPIO_ACTIVE_HIGH>;
		compatible = "coex-pta-grant-gpios";
	};

	nrf_radio_coex: radio_coex_one_wire {
		status = "okay";
		compatible = "sdc-radio-coex-one-wire";
		grant-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
		concurrency-mode = <0>;
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpio9 {
	status = "okay";
};

&gpiote130 {
	status = "okay";
	owned-channels = <0 1 2 3 4 5 6 7>;
};

&radio {
	coex = <&nrf_radio_coex>;
};

&timer020 {
	status = "okay";
};

&dppic020 {
	status = "okay";
	source-channels = < 0 1 >;
	sink-channels = < 2 3 >;
};
