/*
 * Copyright (c) 2024 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
 */

/ {
/*
	chosen {
		zephyr,console = &uart136;
		zephyr,shell-uart = &uart136;
	};
*/
	aliases {
		timer = &timer022;
	};
};

&timer022 {
	status = "okay";
};

&dppic020 {
	status = "okay";
	source-channels = < 0 1 4 >;
	sink-channels = < 2 3 4 >;
};
/*
&uart136 {
	status = "okay";
	memory-regions = <&cpurad_dma_region>;
};

&cpuapp_dma_region {
	reg = <0xe80 0x80>;
};

&cpurad_dma_region {
	reg = <0xf00 DT_SIZE_K(4)>;
};
*/
